.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  padding: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}
.row_poster {
  object-fit: cover;
  width: 100%;
  min-width: 8rem;
  min-height: 10rem;
  margin-right: 7px;
  transition: all 0.2s;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  min-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.07);
}
